/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#filter{
	width:200px;
	height:500px;
	float:left;
	position:absolute;
	z-index:10;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	padding: 10px;
	margin: 0 10px;
	box-sizing(border-box);
	-webkit-box-sizing(border-box);
	-moz-box-sizing(border-box);
}

#gallery{
	width:100%;
	height:100%;
	min-height:500px;
	padding-left:220px;
	position:relative;
	float:left;
	margin-bottom: 20px;
}

.gallery-content {
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin: 0 10px;
	box-sizing(border-box);
	-webkit-box-sizing(border-box);
	-moz-box-sizing(border-box);
	padding: 10px;
}

#gallery .image{
	float:left;
	height:200px;
	width:33%;
	padding:10px;
	position:relative;
	display:inline-flex;
}

#gallery .image img{
	position:relative;
	display: block;
	width: 100%;
	height: 100%;
}

#gallery .image:hover img{
	z-index: 15;
}

#gallery .image .description{
	display:none;
	background: rgba(0,0,0,0.7);
	color:white;
	padding: 0 15px;
	line-height: 40px;
	overflow: hidden;
	zoom: 1;
	position:absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

#gallery .image .close{
	display:none;
}

#gallery .image:hover .close{
	position:absolute;
	display:block;
	top:15px;
	right:15px;
	opacity: 0.5;
	z-index:20;
}

#gallery .image:hover .close:hover{
	opacity: 1;
	z-index: 20;
}

.description .title {
	float: left;
	width:100px;
	height: 40px;
	overflow:hidden;
}

.description .stats {
	float: right;
}

.description .stats > span {
	margin-left: 10px;
}

#gallery .image:hover .description{
	display:block;
	z-index:20;
}


#filter .btn-group{
	clear:both;
	padding:10px;
	display:block;
}

body {
	background: url("../img/bg.jpg") no-repeat center 0 #ccc !important;
}

.hero-freeze {
	padding: 50px 50px 70px;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
	margin-top: 100px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}

.hero-freeze h1 {
	margin-bottom: 40px;
	margin-left: 55px;
}

.top-picks {
	margin: 100px 0 40px;
}

.top-picks .col-sm-4 {
	height: 260px;
	position: relative;
}

.top-picks .row div:first-child {
	padding-left: 0;
}

.top-picks .row div:last-child {
	padding-right: 0;
}

.top-picks img {
	display: block;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}

.top-picks p {
	position: absolute;
	background: rgba(0,0,0,0.7);
	line-height: 40px;
	padding: 0 15px;
	color: #fff;
	left: 15px;
	right: 15px;
	bottom: 0;
	margin: 0;
}

.top-picks .row div:first-child p {
	left: 0;
}

.top-picks .row div:last-child p {
	right: 0;
}

.profile-card {
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	overflow: hidden;
	zoom: 1;
}

.profile-thumb {
	border-radius: 100px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

.profile-thumb img {
	border-radius: 100px;
	display: block;
}

.profile-metric {
	float: right;
	margin: 12px 0 0 20px;
	border-radius: 5px;
	box-shadow: inset 0px 1px 1px #ddd;
	background: #f8f8f8;
	padding: 10px 20px;
}

.profile-metric p {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.profile-metric .value {
	text-align: center;
	font-size: 18px;
}

.profile-card h2 {
	margin-top: 15px;
}

.metric-details {
	margin-top: 50px;
}

.metric-card {
	margin-bottom: 20px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	zoom: 1;
	padding: 20px;
	box-sizing: border-box;
}


.metric-details .chart-item {
	float: left;
	margin-right: 20px;
}

.metric-details .chart-details p {
	line-height: 20px;
}

.metric-details .chart-details .label-tile {
	float: left;
	margin-right: 20px;
	width: 20px;
	height: 20px;
}

.metric-details .chart-details .label-tile.segment-1 {
	background-color: #F7464A;
}

.metric-details .chart-details .label-tile.segment-2 {
	background-color: #E2EAE9;
}

.metric-details .chart-details .label-tile.segment-3 {
	background-color: #D4CCC5;
}

.metric-details .chart-details .label-tile.segment-4 {
	background-color: #949FB1;
}

.metric-details .chart-details .label-tile.segment-5 {
	background-color: #4D5360;
}

.metric-details .chart-details .label-tile.segment-6 {
	background-color: #F38630;
}

.metric-details .chart-details .label-tile.segment-7 {
	background-color: #69D2E7;
}

.image.ng-move,
.image.ng-enter,
.image.ng-leave {
  -webkit-transition:all linear 1.5s;
  transition:all linear 1.5s;
}

.image.ng-leave.ng-leave-active,
.image.ng-move,
.image.ng-enter {
  opacity:0;
}

.image.ng-leave,
.image.ng-move.ng-move-active,
.image.ng-enter.ng-enter-active {
  opacity:1;
}
