<div ng-controller="GalleryCtrl" class="clearfix">
  <div class="container">  
		<div id="filter">
			<div class="btn-group" dropdown ng-repeat='filterType in filterTypes' is-open='filterStatus[filterType]'>
		     		<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
		       		{{selectedFilter[filterType]}} <span class="caret"></span>
		     		</button>
		     		<ul class="dropdown-menu" role="menu">
					<li><a ng-click="filterSelected(filterType, 'All ' + filterType + 's')">{{'All ' + filterType + 's'}}</a></li>
		       		<li ng-repeat="filter in filters[filterType]"><a ng-click="filterSelected(filterType, filter)">{{filter}}</a></li>
		     		</ul>
		   	</div>
		</div>
		<div id="gallery">
		<ul class="gallery-content clearfix">
			<li class="image" ng-repeat="image in images | filter: filterObj : true" >
				<img src="{{image.Url}}">
				<span class="close glyphicon glyphicon glyphicon-remove-circle" ng-click="remove(image)"></span>
				<div class="description">
					<span class="title">{{image.Arch}}</span> 
					<span class="stats">
						<span>
							<span class="glyphicon glyphicon glyphicon-comment"></span> {{image.Comment}} 
						</span>
						<span>
							<span class="glyphicon glyphicon glyphicon-heart"></span> {{image.Like}}
						</span>
						<span>
							<button class="btn btn-default btn-xs" ng-click="like(image)" ng-disabled="image.Reaction=='Liked'"><span class="glyphicon glyphicon glyphicon-heart"></span> Like</button>
						</span>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>