<div ng-controller="HomeCtrl">
	<div class="container-fluid">
		<div class="container hero-freeze">
			<h1>Find inspiration for my renovation</h1>

			<form class="form-horizontal">
						<div class="form-group col-md-5">
							<label class="col-sm-4 control-label">Room type</label>
							<div class="col-sm-8 input-group-lg">
								<input type="text" class="form-control" ng-model="roomType" typeahead="item for item in filters['Room'] | filter:$viewValue | limitTo: 5"/>
							</div>
						</div>
						<div class="form-group col-md-3">
							<label class="col-sm-4 control-label">Budget</label>
							<div class="col-sm-8 input-group-lg">
								<input type="text" class=" form-control" ng-model="budget"  typeahead="item for item in filters['Budget'] | filter:$viewValue | limitTo: 5"/>
							</div>
						</div>
						<div class="form-group col-md-3">
							<label class="col-sm-4 control-label">Location</label>
							<div class="col-sm-8 input-group-lg">
								<input type="text" class="form-control" ng-model="location"/>
							</div>
						</div>
						<div class="form-group col-md-2">
							<a class="btn btn-primary btn-lg pull-right" ng-href="#/Gallery?room={{roomType}}&budget={{budget}}"><span class="glyphicon glyphicon-search"></span> Search</a>
						<div>
					</div>
				</div>	
			</form>
		</div>
		
		<div class="container top-picks">
			
			<div class="row">
				<div class="col-sm-4">
					<img src="img/gallery/images_011.jpg" alt=""/>
					<p><span class="glyphicon glyphicon-star"></span> Staff pick</p>
				</div>
				
				<div class="col-sm-4">
					<img src="img/gallery/images_015.jpg" alt=""/>
					<p><span class="glyphicon glyphicon-fire"></span> Hot design</p>
				</div>
				
				<div class="col-sm-4">
					<img src="img/gallery/images_025.jpg" alt=""/>
					<p><span class="glyphicon glyphicon-upload"></span> Just added</p>
				</div>
			</div>
			
		</div>
	</div>
</div>
