<div ng-controller="ProfileCtrl">
	
	<div class="container">
		
		<div class="profile-card">
			<div class="profile-thumb">
				<img src="img/profile100/imgres-4.jpg" alt="" width="100" height="100"/>
			</div>
			
			<div class="profile-metric">
				<p><span class="glyphicon glyphicon-thumbs-up"></span> Reputation</p>
				<div class="value">
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
			</div>
			
			<div class="profile-metric">
				<p><span class="glyphicon glyphicon-eye-open"></span> Views</p>
				<div class="value">
					<span>431</span>
				</div>
			</div>
			
			<h2>Fiona Lynch</h2>
			<p>Fiona Lynch Interior Design</p>
		</div>
		
	</div>
	
	<div class="container metric-details">
		<div class="row">
			<div class="col-sm-6">
				<div class="metric-card">
					<div class="chart-item">
						<canvas id="myChart1" width="200" height="200"></canvas>
					</div>
					<div class="chart-details">
						<h3>Exposure</h3>
				
						<p>Your portfolio has been viewed by 100 users in July</p>
				
						<p><span class="glyphicon glyphicon-arrow-up"></span> 80% rise in views</p>
					</div>
				</div>
			</div>
				
			<div class="col-sm-6">	
				<div class="metric-card">
					<div class="chart-item">
						<canvas id="myChart2" width="200" height="200"></canvas>
					</div>
					<div class="chart-details">
						<h3>Response</h3>
				
						<p>Your portfolio received 70% approval. </p>
				
						<p><span class="label-tile segment-6"></span> <span class="glyphicon glyphicon-ok-circle"></span> 70% liked</p>
						<p><span class="label-tile segment-7"></span> <span class="glyphicon glyphicon-remove-circle"></span> 30% disliked</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="metric-card">
					<div class="chart-item">
						<canvas id="myChart3" width="200" height="200"></canvas>
					</div>
					<div class="chart-details">
						<h3>Budgets</h3>
				
						<p>Your audience has the highest budget in March</p>
				
						<p><span class="glyphicon glyphicon-usd"></span> Average budget in March was $90,000</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="metric-card">
					<div class="chart-item">
						<canvas id="myChart4" width="200" height="200"></canvas>
					</div>
					<div class="chart-details">
						<h3>Design segmentation</h3>
				
						<p><span class="label-tile segment-1"></span> Antique</p>
						<p><span class="label-tile segment-2"></span> Contemporary</p>
						<p><span class="label-tile segment-3"></span> Minimalist</p>
						<p><span class="label-tile segment-4"></span> Rustic</p>
						<p><span class="label-tile segment-5"></span> Modern</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>